*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

#container{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;


    background-color: black;
}

#bodyBatery{
    width: clamp(150px, 90vw, 430px);
    height: clamp(98px, 60vw, 280px);

    border: 5px solid white;

    border-radius: 7px;
}

#headBatery{
    width: clamp(18px, 8.5vw, 50px);

    height: clamp(42px, 20vw, 120px);

    margin-left: -5px;

    border-radius: 8px;

    border: 5px solid white;
}

#barCarregar{
    width: 100%;
    height: 100%;
}

#barCarregar.descarregar{
    animation: descarregar 4s ease forwards;
}

@keyframes descarregar {
    0% {
        background-color: greenyellow;
        width: 100%;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color:  orange;
        
    }
    

    100%
    {
        background-color: red;
        width: 0%;

    }

    
}



#barCarregar.carregar{
    animation: carregar 4.5s ease forwards;

    
}

#ajustarBox{
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes carregar {
    0% {
        background-color: red;
        width: 0%;
    }

    25% {
        background-color: orange;
    }

    50% {
        background-color:  yellow;
        
    }
    

    100%
    {
        background-color: greenyellow;
        width: 100%;

    }

    
}





.divBtn button{
    width: 130px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;


    margin-top: 50px;

    font-size: 20px;

    border-radius: 5px    
}

.carregarBtn{
    opacity: 1;

    pointer-events: all;

    position: relative;
}
.carregarBtn.ativa{
    opacity: 0;

    pointer-events: none;

    position: absolute;
}

.descarregarBtn.ativa{
    opacity: 1;

    pointer-events: all;

    position: relative;
}

.descarregarBtn{
    opacity: 0;

    pointer-events: none;

    position: absolute;
}